*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/*------------------------Acima os reset--------------------------------*/

body {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/eeee33110479203.5fee1f7411965.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 15px;
}

#cartao{
    background-color: rgba(50, 50, 50, 0.50);
    width: 370px;
    border: 2px solid #ff00f2;
    border-radius: 10px;
    overflow: hidden;
    animation: movimentoInicialCartao 4s backwards;
}


#cartao .minhas-informacoes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#cartao .minhas-informacoes img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid #00ffae;
    animation: movimentoInicialCartao 4s backwards;
}

#cartao .minhas-informacoes .nome{
    font-size: 26px;
}

#cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #ffffff;
}

#cartao .conteudo {
    margin-top: 15px;
}

#cartao .abas{
    display: flex;
}

#cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

}

#cartao .abas img{
    width: 30px;
}

#cartao .abas .aba.selecionado{
    background-color: rgba(0, 0, 0, 0.699);

}

#cartao .informacoes-aba{  
    background-color: rgba(0, 0, 0, 0.699);

}

#cartao .abas .aba:hover{
    background-color: rgba(31, 30, 30, 0.699);
}

.informacoes-aba .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
    animation: movimentoInformacao 2.3s backwards;
}

.informacoes-aba .informacao.selecionado{
    display: block;
}
.informacoes-aba .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-aba .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-aba .descricao span{
    color: #02d08f;
}

.informacoes-aba .descricao aside{
    color: #039265 ;
    font-size: larger;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.redes-sociais li a{
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding:10px;
    font-size: 20px;
}

.redes-sociais .instagram{
    background-color: #06c185;
}
.redes-sociais .linkedin{
   background-color: #1d87bd;
}

.redes-sociais .github{
    background-color:#545454;
}

/*--------------PSEUDO CLASSE HOVER NAS REDES SOCIAS---------------------------*/

.redes-sociais li a:hover{
    opacity: 0.8;
}

@keyframes movimentoInicialCartao{
    from{
        transform: translatey(-580px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes movimentoInformacao{
    from{
        transform: translateX(-440px);
    }
    to{
        transform: translateX(0);
    }
}
